<?xml version="1.0"?>
<!--
/**
 * 
 * @category    ExtensionsStore
 * @package     ExtensionsStore_StoreAlerts
 * @author      Extensions Store <admin@extensions-store.com>
 */
-->
<config>
    <modules>
        <ExtensionsStore_StoreAlerts>
            <version>0.2.0</version>
        </ExtensionsStore_StoreAlerts>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <ExtensionsStore_StoreAlerts />
            </modules>
        </suite>
    </phpunit>       
    <frontend>
        <routers>
            <storealerts>
                <use>standard</use>
                <args>
                    <module>ExtensionsStore_StoreAlerts</module>
                    <frontName>storealerts</frontName>
                </args>
            </storealerts>
        </routers>   
        <events>
        	<sales_order_place_after>
        		<observers>
        			<storealerts_observer>
                        <type>singleton</type>
                        <class>storealerts/observer</class>
                        <method>newOrderAlert</method>        			
        			</storealerts_observer>
        		</observers>
        	</sales_order_place_after>
        </events>       
    </frontend>
    <crontab>
        <jobs>
            <storealerts_push>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>extensions_store_storealerts/cron::pushAlerts</model>
                </run>
            </storealerts_push>
        </jobs>
    </crontab>    
    <global>
        <blocks>
            <extensions_store_storealerts>
                <class>ExtensionsStore_StoreAlerts_Block</class>
            </extensions_store_storealerts>
            <storealerts>
                <class>ExtensionsStore_StoreAlerts_Block</class>
            </storealerts>
        </blocks> 
        <helpers>
            <extensions_store_storealerts>
                <class>ExtensionsStore_StoreAlerts_Helper</class>
            </extensions_store_storealerts>
            <storealerts>
                <class>ExtensionsStore_StoreAlerts_Helper</class>
            </storealerts>
        </helpers>
        <models>
            <extensions_store_storealerts>
                <class>ExtensionsStore_StoreAlerts_Model</class>
                <resourceModel>extensions_store_storealerts_resource</resourceModel>
            </extensions_store_storealerts>
            <storealerts>
                <class>ExtensionsStore_StoreAlerts_Model</class>
                <resourceModel>extensions_store_storealerts_resource</resourceModel>
            </storealerts>            
            <extensions_store_storealerts_resource>
                <class>ExtensionsStore_StoreAlerts_Model_Resource</class>
                <entities>
                    <device>
                        <table>extensions_store_storealerts_device</table>
                    </device>                    
                    <alert>
                        <table>extensions_store_storealerts_alert</table>
                    </alert>                    
                </entities>
            </extensions_store_storealerts_resource>		            
        </models>
        <resources>
            <extensions_store_storealerts_setup>
                <setup>
                    <module>ExtensionsStore_StoreAlerts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extensions_store_storealerts_setup>
        </resources>           
    </global> 
    <default>
        <extensions_store_storealerts>
            <configuration>
                <enabled>1</enabled>
            </configuration>
        </extensions_store_storealerts>
    </default>
</config>
