<?xml version="1.0"?>
<!-- 
/** 
 * Addressvalidator system config
 *
 * @category    ExtensionsStore
 * @package     ExtensionsStore_StoreAlerts
 * @author      Extensions Store <admin@extensions-store.com>
 */
-->
<config>
    <sections>
        <extensions_store_storealerts translate="label" module="extensions_store_storealerts">
            <label>Store Alerts</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <configuration translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If No, no store alerts will be sent.]]></comment>
                        </enabled>  
                        <debug_mode translate="label comment">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Secure HTTPS is not required for debug mode. Also enables logging.]]></comment>
                        </debug_mode>  
                        <alerts translate="label comment">
                            <label>Select Alerts</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>extensions_store_storealerts/system_config_source_alerts</source_model>
                            <frontend_model>extensions_store_storealerts/adminhtml_system_config_form_field_alerts</frontend_model>                            
                            <backend_model>extensions_store_storealerts/system_config_backend_alerts</backend_model>                            
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select alerts to receive.]]></comment>
                        </alerts>                                                 
                    </fields>
                </configuration>
            </groups>
        </extensions_store_storealerts>
    </sections>
</config>

