<?xml version="1.0"?>
<!-- 
/** 
 * Store Alerts system config
 *
 * @category    ExtensionsStore
 * @package     ExtensionsStore_StoreAlerts
 * @author      Extensions Store <admin@extensions-store.com>
 */
-->
<config>
    <sections>
        <extensions_store_storealerts translate="label" module="extensions_store_storealerts">
            <label>Store Alerts</label>
            <tab>advanced</tab>
            <frontend_type>text</frontend_type>
            <sort_order>600</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <configuration translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[If No, no store alerts will be sent.]]></comment>
                        </enabled>  
                        <debug_mode translate="label comment">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Secure HTTPS is not required for debug mode. Also enables logging.]]></comment>
                        </debug_mode>         
                        <hostname translate="label comment">
                            <label>Host/Domain Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[For developers, enter your production host/domain name here; i.e www.mystore.com.]]></comment>
                        </hostname>                                    
                        <alerts translate="label comment">
                            <label>Select Alerts</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>extensions_store_storealerts/system_config_source_alerts</source_model>
                            <frontend_model>extensions_store_storealerts/adminhtml_system_config_form_field_alerts</frontend_model>                            
                            <backend_model>extensions_store_storealerts/system_config_backend_alerts</backend_model>                            
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Select alerts to receive.]]></comment>
                        </alerts> 
                        <email_alerts translate="label comment">
                            <label>Receive Email Alerts</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>extensions_store_storealerts/adminhtml_system_config_form_field_emailalerts</frontend_model>                            
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>extensions_store_storealerts/system_config_backend_emailalerts</backend_model>                            
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[If yes, alerts will be sent to your administrator email.]]></comment>
                        </email_alerts>  
                        <slack_hooks translate="label comment">
                            <label>Slack Hooks</label>
                            <frontend_type>textarea</frontend_type>
                            <frontend_model>extensions_store_storealerts/adminhtml_system_config_form_field_slackhooks</frontend_model>                            
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>extensions_store_storealerts/system_config_backend_slackhooks</backend_model>                            
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Slack hook urls, one per line, in order of selected alert types. Set blank line to skip an alert type. If one url for all alert types, set one url on first line.]]></comment>
                        </slack_hooks>                                                     
                        <notification_severity translate="label comment">
                            <label>Notification Severity</label>
                            <frontend_type>select</frontend_type>
                            <source_model>extensions_store_storealerts/system_config_source_severity</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[If subscribing to admin notifications, specify minimum notification severity.]]></comment>
                        </notification_severity>                           
                        <mark_notification_read translate="label comment">
                            <label>Mark Notification as read</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[If subscribing to admin notifications, mark admin notification as read.]]></comment>
                        </mark_notification_read>   
                        <log_level translate="label comment">
                            <label>Log Message Level</label>
                            <frontend_type>select</frontend_type>
                            <source_model>extensions_store_storealerts/system_config_source_loglevel</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Levels lower and equal to the selected level will be alerted.]]></comment>
                        </log_level>   
                        <log_files translate="label comment">
                            <label>Log Message Files</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[List of log files to log, one per line.]]></comment>
                        </log_files>   
                        <duplicate_log_limit translate="label comment">
                            <label>Duplicate Log Limit Per Day</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Limit of log duplicates per day.]]></comment>
                        </duplicate_log_limit>   
                        <duplicate_log_length translate="label comment">
                            <label>Duplicate Log Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Left length of log message in determining duplication.]]></comment>
                        </duplicate_log_length>                                                                                                      
                        <test_alert translate="label comment">
                            <label>Test Alert</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>extensions_store_storealerts/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Test sending an alert to your device.]]></comment>
                        </test_alert>                                                                          
                    </fields>
                </configuration>
            </groups>
        </extensions_store_storealerts>
    </sections>
</config>